################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ErisEngine/third_party
/ErisEngine/x64/Debug
/x64/Debug
/packages
/.vs
/ErisEngine/ErisEngine.vcxproj
/ErisEngine/ErisEngine.vcxproj.filters
/ErisEngine/ErisEngine.vcxproj.user
/ErisEngine/imgui.ini
/ErisEngine/packages.config
/ErisEngine.sln
/ErisEngine/out/build/x64-Debug
/ErisEngine/assets/rungholt
/ErisEngine/shaders
/ErisEngine/assets/roadBike.mtl
/ErisEngine/assets/roadBike.obj
