################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ErisEngine/x64/Debug
/x64/Debug
/packages
/.vs
/ErisEngine/ErisEngine.vcxproj
/ErisEngine/ErisEngine.vcxproj.filters
/ErisEngine/ErisEngine.vcxproj.user
/ErisEngine/imgui.ini
/ErisEngine/packages.config
/ErisEngine.sln
/ErisEngine/out/build/x64-Debug
/ErisEngine/assets/rungholt
/ErisEngine/shaders
/ErisEngine/assets/roadBike.mtl
/ErisEngine/assets/roadBike.obj
/ErisEngine/third_party/JoltPhysics-master
/ErisEngine/third_party/assimp-master
/ErisEngine/third_party/glfw-3.4.bin.WIN64
/ErisEngine/third_party/imgui-docking
/ErisEngine/third_party/ImGuizmo-master
/ErisEngine/third_party/VulkanSDK/1.4.335.0/Helpers
/ErisEngine/third_party/VulkanSDK/1.4.335.0/installerResources
/ErisEngine/third_party/VulkanSDK/1.4.335.0/Lib-ARM64
/ErisEngine/third_party/VulkanSDK/1.4.335.0/components.xml
/ErisEngine/third_party/VulkanSDK/1.4.335.0/InstallationLog.txt
/ErisEngine/third_party/VulkanSDK/1.4.335.0/installer.dat
/ErisEngine/third_party/VulkanSDK/1.4.335.0/Lib
/ErisEngine/third_party/VulkanSDK/1.4.335.0/Licenses
/ErisEngine/third_party/VulkanSDK/1.4.335.0/maintenancetool.dat
/ErisEngine/third_party/VulkanSDK/1.4.335.0/maintenancetool.exe
/ErisEngine/third_party/VulkanSDK/1.4.335.0/maintenancetool.ini
/ErisEngine/third_party/VulkanSDK/1.4.335.0/network.xml
/ErisEngine/third_party/VulkanSDK/1.4.335.0/README.txt
/ErisEngine/third_party/VulkanSDK/1.4.335.0/share/vulkan/registry
/ErisEngine/third_party/VulkanSDK/1.4.335.0/Source/SPIRV-Reflect
/ErisEngine/third_party/VulkanSDK/1.4.335.0/Templates
